.seccion1 {
    display: inline-block;
    background-color: rgb(75, 108, 154);
    color: white;
    height: 100px;
    padding-top: 50px;
}
.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 10px;
}
.logo{
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
main{
    text-align: center;
}
.foto{
    display: inline-block;
}
footer{
    background-color: black;
}