:root {
    --color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: black;
    color: var(--color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    
}


.menu{
    list-style: none;
    display: flex;
    gap: 10px;
}
nav{
    display: none;
    color: var(--color);
}


.h2-title {
    font-size: 15px;
    font-weight: 600;
    text-align: start;
    padding-top: 10px;
    padding-bottom: 10px;
}
.terminos{
    text-align: start;
    font-size: 10px;
    padding-top: 10px;
    
}

.logo{
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
main{
    text-align: center;
    
}

.seccion1 {
    background-color: #529CF1;
    background-position: left;
    color: var(--color);
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: flex-end;
    align-items: center;
    
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.premium{
    font-weight: 700;
    text-align: start;
    
}

.planes {
    background-color: #26b758;
    display: inline;
    width: 70%;
    border-radius: 20%;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.seccion2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 20px;
}
.titulo-main{
    padding-bottom: 20px;
}

.imagen {
    width: 100px;
}

.foto {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.foto-text {
    line-height: 1.5;
    text-align: left;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

footer{
    background-color: black;
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 15px;
}

.info a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.cookies {
    display: inline;
}

.flag {
    width: 20px;
}

.copy {
    padding-top: 15px;
    padding-bottom: 30px;
}

.spain {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 5px;
}

@media all and (min-width: 480px) {
    .nav {
        display: block;
    }
}
@media all and (min-width:768px) {
    .section1{
        background-image: url(../images/premium_dancer.png)
    }
    }
    