<main>
<section class="seccion1">
    <h1 class="seccion1__premium">Prueba premium gratis 3 meses</h1>
    <h2 class="seccion1__escucha">Escucha millones de canciones sin anuncios, a la carta y sin conexión</h2>
    <a href="#" class="seccion1__planes">VER PLANES</a>
    <p class="seccion1__terminos">Rigen términos y condiciones. Los 3 meses gratis no están disponibles para usuarios que ya hayan probado Premium.</p>
</section>
<section class="seccion2">
    <div class="seccion2__titulo">
        <h2>¿Por qué pasarte a premium?</h2>
    </div>
    <load src="./section2.html"/>
        <div class="seccion2__foto">
            <img src="/images/benefit-1.png" alt="benefit-1"  class="seccion2__foto--imagen">
            <div class="foto-text">
                <h3>Descarga música.</h3>
                <p>Llévala siempre contigo.</p>
            </div>
        </div>
    
        <div class="seccion2__foto">
            <img src="/images/benefit-2.png" alt="benefit-2" class="seccion2__foto--imagen">
            <div class="foto-text">
                <h3>Sin anuncios.</h3>
                <p>Disfruta de música sin interrupciones.</p>
            </div>
        </div>

        <div class="seccion2__foto">
            <img src="/images/benefit-3.png" alt="benefit-3" class="seccion2__foto--imagen">
            <div class="foto-text">
                <h3>Escucha lo que quieras.</h3>
                <p>Incluso en el móvil.</p>
            </div>
        </div>   

        <div class="seccion2__foto">
        <img src="/images/benefit-4.png" alt="benefit-4" class="seccion2__foto--imagen">
            <div class="foto-text">
                <h3>Salta todas las canciones que quieras.</h3>
                <p>Simplemente dale a siguiente.</p>
            </div>
        </div>
</section>
</main>