<main>
<section class="seccion1">
    <h1 class="seccion1__premium">Prueba premium gratis 3 meses</h1>
    <h2 class="seccion1__escucha">Escucha millones de canciones sin anuncios, a la carta y sin conexión</h2>
    <a href="#" class="seccion1__planes">VER PLANES</a>
    <p class="seccion1__terminos">Rigen términos y condiciones. Los 3 meses gratis no están disponibles para usuarios que ya hayan probado Premium.</p>
</section>
<section class="seccion2">
    <div class="seccion2__titulo">
        <h2>¿Por qué pasarte a premium?</h2>
    </div>
    <load src="/partials/section2.html"
        title="Descarga música."
        img="./images/benefit-1.png"
        parrafo="Llévala siempre contigo."
    />
    <load src="/partials/section2.html"
        title="Sin anuncios."
        img="/images/benefit-2.png"
        parrafo="Disfruta de música sin interrupciones."
    />
    <load src="/partials/section2.html"
        title="Escucha lo que quieras."
        img="/images/benefit-3.png"
        parrafo="Incluso en el móvil."
    />
    <load src="/partials/section2.html"
        title="Salta todas las canciones que quieras."
        img="/images/benefit-4.png"
        parrafo="Simplemente dale a siguiente."
    />
      

</section>
</main>