<section class="seccion2">
    <div >
        <h2 class="seccion2__titulo">¿Por qué pasarte a premium?</h2>
    </div>
    <load src="/partials/seccion2_foto.html"
        title="Descarga música."
        img="./images/benefit-1.png"
        parrafo="Llévala siempre contigo."
    />
   <load src="/partials/seccion2_foto.html"
        title="Sin anuncios."
        img="/images/benefit-2.png"
        parrafo="Disfruta de música sin interrupciones."
    />
    <load src="/partials/seccion2_foto.html"
        title="Escucha lo que quieras."
        img="/images/benefit-3.png"
        parrafo="Incluso en el móvil."
    />
    <load src="/partials/seccion2_foto.html"
        title="Salta todas las canciones que quieras."
        img="/images/benefit-4.png"
        parrafo="Simplemente dale a siguiente."
    />
      

</section>