
/*
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/
@import 'core/reset';
@import 'core/variables';
@import 'layout/header';
@import 'layout/seccion1';
@import 'layout/seccion2';
@import 'layout/footer';


:root {
    --color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


main{
    text-align: center;
    
}






@media all and (min-width: 480px) {
    .section1{
        background-image: url(../images/premium_dancer.png);
    }
    .nav {
        display: block;
    }
}
@media all and (min-width:1000px) {
    .section1{
        background-image: url(../images/premium_dancer.png)
    }
    }
    